html, body, #map {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-family: Roboto, sans-serif;
}

label {
    user-select: none;
}

input {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    position: relative;
    width: 28%;
    border: none;
    color: #838383;
    border-bottom: 1px solid #757575;
    margin-bottom: 10px;
    margin-top: 3px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .26);
}

input:focus, input:focus:hover {
    outline: none;
    border-bottom: 2px solid #5264AE;
    margin-bottom: 9px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, .26);
}

input:hover {
    outline: none;
    border-bottom: 2px solid #5264AE;
    margin-bottom: 9px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, .26);
}

#map {
    z-index: 3;
    position: absolute;
    right: 30%;
    bottom: 25%;
    width: 100%;
    height: 100%;
    box-shadow: 4px 4px 9px rgba(0, 0, 0, .26);
}

#coords {
    position: fixed;
    width: 8%;
    left: 81%;
    top: 4px;
    margin: auto;
    padding: 2px;
    font-size: 18px;
    background: rgb(230, 230, 230);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .26);
    opacity: 0.8;
    border-radius: 4px;
    user-select: none;
    z-index: 10;
}

#scriptTools {
    margin: 30px 0 0 10px;
    overflow-y: scroll;
}

#OPEN_BAGS, #DISPLAY_GATHER_COUNT, #DISPLAY_FIGHT_COUNT {
    box-shadow: none;
    margin: 0 0 7px 0;
}

.menu {
    z-index: 2;
    position: absolute;
    top: 75%;
    right: 30%;
    width: 100%;
    height: 100%;
    background-color: white;
    box-shadow: 4px 4px 9px rgba(0, 0, 0, .26);
}

.menu-lateral {
    z-index: 1;
    position: relative;
    left: 70%;
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
    overflow: scroll;
}

.leaflet-control-container {
    display: none;
}

.leaflet-div-icon {
    background: transparent;
    border: 2px solid black;
}

.checkbox .input-checkbox {
    color: whitesmoke;
    position: relative;
    display: inline-block;
    width: 32px;
    height: 32px;
    vertical-align: -9px;
    margin-bottom: 0;
    vertical-align: middle;
    cursor: pointer;
}

.checkbox .input-checkbox input[type='checkbox'] {
    visibility: hidden;
    position: absolute;
    left: 7px;
    bottom: 7px;
    margin: 0;
    padding: 0;
    outline: none;
    opacity: 0;
}

.checkbox .input-checkbox input[type='checkbox'] + .checkbox-span:before {
    position: absolute;
    left: 4px;
    width: 18px;
    height: 18px;
    font-size: 20px;
    line-height: 1;
    content: '';
    border: 2px solid #717171;
    transition: all .2s ease-out;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .26);
    background-color: white;
}

.checkbox .input-checkbox input[type='checkbox']:hover + .checkbox-span:before {
    border: 2px solid #03a9f4;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, .26);
}

.checkbox .input-checkbox input[type='checkbox']:checked + .checkbox-span:before {
    content: '✓';
    color: whitesmoke;
    background-color: #03a9f4;
    border: 2px solid #03a9f4;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, .26);
}

.item {
    background: white;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .26);
    user-select: none;
    position: relative;
    width: 28%;
    text-align: center;
    transition: all .3s ease;
    margin-bottom: 1rem;
}

.item:hover, .item:focus {
    color: rgb(90, 120, 240);
    box-shadow: 4px 4px 9px rgba(0, 0, 0, .26);
}

li {
    text-align: left;
}
ul {
    color: black;
}
/*.button {
    text-align: left;
}

.button {
    cursor: pointer;
    outline: none;
    font-size: 0.8rem;
    padding: 0.5rem 1.1rem;
    border: 0;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    transition: .2s ease-out;
    color: white !important;
    margin: .15rem;
    white-space: normal !important;
    word-wrap: break-word;
    text-transform: uppercase;
}

.button:hover {
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.18), 0 2px 6px 0 rgba(0, 0, 0, 0.15);
    color: white;
}

.button:active, .button:focus, .button.active {
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.18), 0 2px 6px 0 rgba(0, 0, 0, 0.15);
    outline: 0;
    color: white;
}

.button-secondary {
    background: #6c757d;
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.18), 0 2px 6px 0 rgba(0, 0, 0, 0.15);
}

.button-secondary:hover, .button-secondary:focus, .button-secondary:active {
    background-color: #939ba2 !important;
}

.button-secondary.active {
    background-color: #494f54 !important;
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.18), 0 2px 6px 0 rgba(0, 0, 0, 0.15);
}

.button-primary {
    background: #007bff;
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.18), 0 2px 6px 0 rgba(0, 0, 0, 0.15);
}

.button-primary:hover, .button-primary:focus, .button-primary:active {
    background-color: #4da3ff !important;
}

.button-primary.active {
    background-color: #0056b3 !important;
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.18), 0 2px 6px 0 rgba(0, 0, 0, 0.15);
}

.button-success {
    background: #28a745;
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.18), 0 2px 6px 0 rgba(0, 0, 0, 0.15);
}

.button-success:hover, .button-success:focus, .button-success:active {
    background-color: #48d368 !important;
}

.button-success.active {
    background-color: #19692c !important;
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.18), 0 2px 6px 0 rgba(0, 0, 0, 0.15);
}

.button-info {
    background: #17a2b8;
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.18), 0 2px 6px 0 rgba(0, 0, 0, 0.15);
}

.button-info:hover, .button-info:focus, .button-info:active {
    background-color: #36cee6 !important;
}

.button-info.active {
    background-color: #0f6674 !important;
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.18), 0 2px 6px 0 rgba(0, 0, 0, 0.15);
}

.button-warning {
    background: #ffc107;
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.18), 0 2px 6px 0 rgba(0, 0, 0, 0.15);
}

.button-warning:hover, .button-warning:focus, .button-warning:active {
    background-color: #ffd454 !important;
}

.button-warning.active {
    background-color: #ba8b00 !important;
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.18), 0 2px 6px 0 rgba(0, 0, 0, 0.15);
}

.button-danger {
    background: #d43343;
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.18), 0 2px 6px 0 rgba(0, 0, 0, 0.15);
}

.button-danger:hover, .button-danger:focus, .button-danger:active {
    background-color: #e1727d !important;
}

.button-danger.active {
    background-color: #9a202d !important;
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.18), 0 2px 6px 0 rgba(0, 0, 0, 0.15);
}*/